.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.pageHeading {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  top: 110px;
  left: 0;
}

.PageConetents {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 110px;
}

.pageHead {
  position: relative;
  display: inline-block;
  top: 110px;
  left: 0vw;
  width: 100%;
  text-align: center;
}

.header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  z-index: 100;
  background-color: white;
}

.scrollButton {
  grid-column: span 3;
}

.heading {
  position: relative;
  display: inline;
  left: 32px;
  font-size: 32px;
}

.navigation {
  display: flex;
  flex-direction: row;
  float: right;
}

.navItem {
  margin-right: 15px;
  text-decoration: underline;
}

.catImg {
  width: 100%;
  height: auto;
}

.catPics {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
}

.catCard {
  margin: 2vw;
}

.select {
  grid-column: span 1;
}

.spinner {
  position: relative;
  left: 50%;
  transform: translate(-100%);
  grid-column: span 3;
}

.cssGrid {
  position: relative;
  top: 110px;
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-items: center;
}

.cssGrid1 {
  position: relative;
  top: 110px;
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
}

.loginCard {
  position: relative;
  top: 110px;
}
